.layout-order {
    min-width: 650px;
    overflow-x: scroll;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {
    .logo {
        font-size: 13px;
    }
}