.col {
    padding: 10px 10px 0 10px;
}
.card {
    position: relative;
}
.card-price {
    /* color: #dabd84; */
    font-size: 16px;
    font-weight: bold;
}
.add-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.add-start {
    position: absolute;
    right: 50px;
    bottom: 10px;
}
.modal, .ant-modal-body {
    display: flex;
}
.modal-img {
    width: 50%;
}
.modal-msg {
    width: 50%;
    padding: 10px;
}

/* 默认样式 */
.img {
    width: 20rem; /* 100% 宽度，根据父元素宽度自适应 */
    height: 20rem; /* 100% 高度，根据父元素高度自适应 */
    object-fit: cover; /* 保持纵横比例，裁剪不足的部分 */
}
